---
layout: default
format: frontpage
---
<style>
    .intro-section {
        text-align: center;
        padding: 10px;
    }

    .intro-section .button {
        display: inline-block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #FF6600;
        /* Naranja */
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .intro-section .button:hover {
        background-color: #E65C00;
        /* Un poco más oscuro al hacer hover */
    }
    .header {
    display: flex;
    justify-content: space-around;
    background-color: #f5b19b;
    padding: 20px 0;
    text-align: center;
}
.header div {
    flex: 1;
    padding: 20px;
}
.header div:hover {
    background-color: #e08c79;
    cursor: pointer;
}
.header div h2 {
    margin: 0;
    color: #333;
}
.banner {
    background-color: #e6613d;
    color: white;
    padding: 15px;
    text-align: center;
    position: relative;
}
.banner p {
    margin: 0;
    font-size: 1.2em;
}
.banner .button {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #e6613d;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
}
.map-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    padding: 40px 20px;
    color: white;
}
.map-section .map {
    flex: 1;
    margin-right: 20px;
}
.map-section .map img {
    width: 100%;
    height: auto;
    border: 0;
}
.map-section .description {
    flex: 1;
}
.map-section .description h3 {
    margin-top: 0;
    font-size: 1.8em;
}
.map-section .dots {
    margin-top: 20px;
    text-align: center;
}
.map-section .dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
}

/* Media Queries para hacerlo responsive */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header div {
        padding: 10px;
        width: 100%;
    }
    .banner {
        padding: 10px;
    }
    .banner p {
        font-size: 1em;
    }
    .banner .button {
        position: static;
        transform: none;
        margin-top: 10px;
        padding: 8px 16px;
    }
    .map-section {
        flex-direction: column;
        padding: 20px 10px;
    }
    .map-section .map {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .map-section .map iframe {
        width: 100%;
        height: 300px;
    }
    .map-section .description {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .header div {
        padding: 5px;
    }
    .banner p {
        font-size: 0.9em;
    }
    .banner .button {
        padding: 6px 12px;
        font-size: 0.9em;
    }
    .map-section {
        padding: 15px 5px;
    }
    .map-section .map iframe {
        height: 250px;
    }
    .map-section .description h3 {
        font-size: 1.5em;
    }
    
}
.row {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si es necesario */
    justify-content: center; /* Centra los elementos en el contenedor */
    margin: 0 auto; /* Centra el contenedor en su contenedor padre */
  }

  .row .frontpage-widget {
    margin: 5px; /* Espacio entre los widgets */
  }
</style>


<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<section id="intro" class="intro-section" class="row t30">
    <h1>¿Qué es TELECO?</h1>
    <a class="button" href="/que-es-teleco/">Quiero saber más</a>
</section>

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}

<section id="conociendo" class="intro-section">
    <h2>Conociendo las teleco</h2>
    <div class="row t30">
        {% if page.widget1.image or page.widget1.video or page.widget1.title %}
        {% include _frontpage-widget.html widget=page.widget1 %}
        {% endif %}

        {% if page.widget2.image or page.widget2.video or page.widget2.title %}
        {% include _frontpage-widget.html widget=page.widget2 %}
        {% endif %}

        {% if page.widget3.image or page.widget3.video or page.widget3.title %}
        {% include _frontpage-widget.html widget=page.widget3 %}
        {% endif %}

        {% if page.widget4.image or page.widget4.video or page.widget4.title %}
        {% include _frontpage-widget.html widget=page.widget4 %}
        {% endif %}
    </div><!-- /.row -->
</section>



{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
<section id="experimenta" class="intro-section">
    <h2>Experimenta y crea</h2>
    <div class="row t0 b30">
        <div class="small-24 text columns 2">
            <a class="button large radius {{ page.callforaction.style1 }}" href="{{ url }}{{ page.callforaction.url1 }}"
                {% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text1
                }}</a>

            <a class="button large radius {{ page.callforaction.style2 }}" href="{{ url }}{{ page.callforaction.url2 }}"
                {% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text2
                }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
</section>
{% endif %}


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="header">
    <div>
        <h2>Talleres</h2>
    </div>
    <div>
        <h2>Charlas</h2>
    </div>
    <div>
        <h2>Eventos</h2>
    </div>
</div>

<div class="banner">
    <p>Contactanos.</p>
    <a class="button" href="contact/">Contacto</a>
</div>

<div class="map-section">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d678.6243052441424!2d-3.625223572234837!3d37.196785730057336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fc55025f928b%3A0x4dbbca09efdcad08!2sE.T.S.%20de%20Ingenier%C3%ADas%20Inform%C3%A1tica%20y%20de%20Telecomunicaci%C3%B3n!5e0!3m2!1ses!2ses!4v1723456572537!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="description">
        <h3>Dónde estamos</h3>
        <p>E.T.S. de Ingenierías Informática y de Telecomunicación</p>
        <p>Calle Periodista Daniel Saucedo Aranda s/n </p>
        <p>18071 (Granada-Spain)</p>
    </div>
</div>

<div class="row">
    {{ content }}
</div><!-- /.row -->